<div class="container analytics-container">
        <div class="card" >
          <div class="card-body">
            <h4 class="card-title">Repos of Angular Organizations</h4>
            <h6 class="card-subtitle text-muted">These are Angular Repos</h6>
            <table class="table table-striped analytics-table">
              <thead class="thead-light">
              <tr class="tbl">
                <th class="first-row">Id</th>
                <th class="first-row">Name</th>
                <th class="first-row">Url</th>
                <th class="first-row">Watchers</th>
                <th class="first-row">Open issues</th>
              </tr>
              </thead>
              <tbody>
              <tr class="tbl" *ngFor = "let repo of repoDetails | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>{{repo.id}}</td>
                <td>{{repo.name}}</td>
                <td class="url-name">{{repo.git_url}}</td>
                <td class="url-link"><a href="{{repo.git_url}}" target="blank">github</a></td>
                <td>{{repo.watchers}}</td>
                <td>{{repo.open_issues_count}}</td>
              </tr>
              </tbody>
            </table>
            <div class="pagination1">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
      </div>
  </div>
  